* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: Arial, sans-serif;
}

#topic-block {
    margin: 0 0 50px;
}

#main {
}


#header {
    width: 100%;
    height: 64px;
    background-color: #515154;
    position: sticky;
    top: 0px;
    text-align: center;
}

#header__content {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#header__logo {
    margin: auto;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 0;
}

#header__logo a {
    display: inline-block;
    max-width: 100%;
    line-height: 0;
}

#header__logo a img {
    max-width: 173px;
    max-height: 64px;
    opacity: 1;
    object-fit: cover;
}

#header__nav {
    max-width: 980px;
    display: flex;
    font-size: 0;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

#header__nav li {
    display: inline-block;
    position: relative;
}

#header__nav li a {
    padding: 22px 16px;
    font-size: 15px;
    color: #d2d2d7;
    text-decoration: none;
    line-height: 64px;
}

#header__nav li:hover a {
    color: #fff;
    background-color: #626265;
    text-decoration: none;
}

#header__nav .nav--arrow-down {
}

#header__nav .nav__subnav {
    position: absolute;
    background-color: #515154;
    display: none   
}

#header__logo {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* width: 20%; */
}

#sliders {
}

#slider--top {
    width: 100%;
    height: 100%;
    display: block;
}

#content {
    max-width: 1200px;
    margin: auto;
}



#topic-block__body {
    text-align: justify;
    line-height: 24px;
    font-size: 16px;
}

#topic-block__body--content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*CATEGORY-SECTION*/
#category-list {
    margin-top: 112px;
    /* margin-bottom: 112px; */
}

.item-list--title{
    margin-bottom: 20px;
    text-align: center;
    line-height: 45px;
    
}

.item-list--title .title a {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #1D1D1F;
    padding-bottom: 24px;
}

.item-list--product {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 32px;
}

.item-list--product .picture {
    margin: 25px 0 20px;
}

.item-list--product .product-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 24px 20px 16px 20px;
}

.item-list--product .detail .product-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D1F;
    height: 54px;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-list--product .detail .product-title a{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D1F;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-list--product .detail .new-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0066CC;
}

.item-list--product .detail .old-price {
    color: #86868B;
    margin: 0 5px 0 5px;
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
}

.item-list--product .detail .discount {
    color: #86868B;
    margin: 0 5px 0 5px;
    font-size: 14px;
    line-height: 24px;
}

.item-list--see-all {
    text-align: center;
    padding-bottom: 32px;
}

.item-list--see-all a {
    border: 1px solid #0066CC;
    border-radius: 8px;
    padding: 5.5px 45px;
    color: #0066CC;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: inline-block;
    vertical-align: middle;
}

#news-list {
    margin-bottom: 46px;
}

#news-list #title {
    text-align: center;
    padding-bottom: 15px;
    line-height: 45px;
}

#news-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 32px;
}

#news-body .new-item {
    width: 386px;
    margin: 0;
    clear: both;
    /*position: relative;*/
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgb(0 0 0 / 4%);
    border-radius: 8px;
}

.new-item .new-item__picture {
    /*position: relative;*/
}

.new-item__picture img {
    width: 100%;
    max-height: 218px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    background: #f7e8e8;
    height: 176px;
}

.new-item__head .new-item__head--title {
    padding: 25px 24px 15px 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #1D1D1F;
    display: inline-block;
}
.new-item .news-item__date {
    background-color: #FFF;
    font-size: 15px;
    line-height: 24px;
    color: #86868B;
    margin: 0 0 24px;
    padding: 10px 24px 0 24px;
    font-style: normal;
}

#news-list .see-all {
    text-align: center;
    padding-bottom: 32px;
}

#news-list .see-all a{
    text-decoration: unset;
    border: 1px solid #0066CC;
    border-radius: 8px;
    padding: 5.5px 45px;
    color: #0066CC;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#footer {
}

#footer #new-letter {
    background: #F2F2F2;
    width: 100%;
    margin: auto;
    padding: 50px 0px 50px 0px;
}

#new-letter #new-letter__head {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #1D1D1F;
    line-height: 36px;
}

#new-letter p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #515154;
    padding: 8px 0;
    margin: 0;
}

#new-letter #new-letter__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 20px 10px 20px;
    width: 100%;
}

#new-letter #newletter-subscribe {
    width: 100%;
}

#new-letter #newletter-email {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;
}

#new-letter #newletter-email input[type="email"] {
    height: 40px;
    border-radius: 40px 0 0 40px;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0 10px 24px;
    color: #515154;
    width: 100%;
    border: unset;
    max-width: 470px;
    padding-left: 20px !important;
}

#newletter-email #newletter-subscribe-button {
    min-width: 100px;
    padding: 0 5px;
    border-radius: 40px;
    background: #0066CC;
    font-size: 12px;
    margin-left: -52px;
    text-transform: none;
    z-index: 2;
    height: 40px;
    border-style: initial;
}

#footer-content {
    background-color: #1d1d1f;
    color: white;
}

#footer-content #content-upper {
    padding: 64px 0px 21px;
    display: flex;
    width: 1200px;
    margin: auto;
}

ul {
    list-style-type: none;
}

#footer-content #content-upper .list li {
    font-size: 13px;
    line-height: 28px;
}

#footer-content #content-upper .list li a {
    color: #86868b;
}

#content-upper .title {
    color: #d2d2d7;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    margin: 0 0 15px;
}

#content-upper #follow-us {
    /*padding-bottom: 20px;
    order: 1;
    float: right;*/
    width: 30% !important;
    /*margin: 0;
    text-align: left;
    display: inline-block;
    vertical-align: top;*/
}

#footer-content #header-logo {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 0;
    display: inline-block;
    max-width: 100%;
    line-height: 0;
}

#topic-block #topic-block__body {
    text-align: justify;
    line-height: 24px;
    font-size: 16px;
}

#topic-block #topic-block__body p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #D2D2D7;
    padding-top: 8px;
    padding-bottom: 8px;
}

#content-upper #info {
    color: white;
    padding-left: 60px;
    width: 25%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
}

#content-upper #customer-service,
#content-upper #contact {
    padding-left: 60px;
}

#content-lower {
    padding: 20px 0px 32px 0px;
    width: 1200px;
    margin: auto;
    font-size: 12px;
    height: 120px;
    border-top: 1px solid #515154;
}

#content-lower #company-info {
    float: left;
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 32px;
}

#company-info #address {
    font-size: 13px;
    line-height: 20px;
    color: #515154;
}

#company-info img {
    float: right;
    width: 139px;
}
